body {
  /* imagem adquirida no site unsplash.com */
  background-image: url("code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

#box-principal {
  height: 950px;
  width: 550px;
  background-color: #343746;
  padding: 1em 3em;
  margin: auto;
  border-radius: 5%;
}

#minha-foto {
  border-radius: 50%;
  height: 250px;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #8ae234;
  text-align: center;
}

#principais-habilidades {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  color: #8ae234;
}

p {
  text-align: justify;
}

span {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: oblique;
}

#trybe {
  color: #006b53;
  font-weight: bold;
  text-decoration: none;
}

#box-habilidades {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#box-soft-skills {
  height: 100%;
  width: 50%;
}

#box-hard-skills {
  width: 50%;
  height: 100%;
}

.titulo-hard-soft {
  color: #8ae234;

}

ul li {
  text-align: justify;
  padding: 2px;
}

.redes-sociais a {
  color: white;
  text-decoration: none;
}

.redes-sociais {
  margin: 0px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 50px;
  padding: 20px;
}
