body {
  /* imagem adquirida no site unsplash.com */
  margin-top: 1.5em;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

#box-principal {
  height: 850px;
  width: 600px;
  background-color: #343746;
  padding: 1em 3em;
  margin: auto;
  border-radius: 5%;
}

#box-header {
  margin-top: 20px;
  height: 250px;
  position: relative;
}

#info {
  position: absolute;
  left: 45%;
  top: 0%;
  line-height: 35px;
}

#lista-info {
  list-style-type: none;
}

.logo {
  width: 30px;
  padding: 10px 20px;
}

#minha-foto {
  border-radius: 10%;
  height: 240px;
  float: left;
  margin: 0 auto;
}

#paragrafos {
  padding: 35px 0;
  padding-bottom: 5px;
}

#principais-habilidades {
  margin-bottom: 25px;
  text-align: center;
  color: #00b1ef;
}

p {
  text-align: justify;
}

span {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: oblique;
}

#trybe {
  color: #00c28f;
  font-weight: bold;
  text-decoration: none;
}

#box-habilidades {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 17%;
  position: relative;
  vertical-align: top;
  text-align: center;
}

#box-soft-skills {
  height: 100%;
  width: 50%;
  position: absolute;
}

#box-hard-skills {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
}

.titulo-hard-soft {
  color: #00b1ef;
}

ul li {
  text-align: justify;
  padding: 2px;
}

.redes-sociais a {
  color: white;
  text-decoration: none;
}

.redes-sociais {
  margin: 0px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
