body {
  /* imagem adquirida no site unsplash.com */
  background-image: url("code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

#container {
  
  height: 950px;
  width: 550px;
  background-color: #343746;
  padding: 3em;
  margin: auto;
  border-radius: 5%;
}

#minha-foto {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #8ae234;
  text-align: center;
}

h2 {
  margin-top: 30px;
  text-align: center;
  color: #8ae234;
}

p {
  text-align: justify;
}

span {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: oblique;
}

#trybe {
  color: #006B53;
  font-weight: bold;
  text-decoration: none;
}

#container-habilidades {
  padding-top: 2px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#box-principais-habilidades {
  
  height: 100%;
  width: 50%;
}

#box-outras-habilidades {
 
  width: 50%;
  height: 100%; 
}

ul li {
  text-align: justify;
}

.redes-sociais a {
  color: white;
  text-decoration: none;
}

.redes-sociais {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 50px;
  padding: 20px;
}