body {
  /* imagem adquirida no site unplash.com */
  background-image: url("code.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  line-height: 1.4em;
}

#container {
  height: 950px;
  width: 600px;
  background-color: #343746;
  padding: 3em;
  margin: 0 auto;
  border-radius: 5%;
}

img {
  /* border: 0.1px solid #8ae234; */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  background-color: #343746;
  color: #8ae234;
  text-align: center;
}

h2 {
  background-color: #343746;
  color: #8ae234;
}

p {
  text-align: justify;
}

.links {
  text-align: center;
}
.links a, span{
  color: white;
  text-decoration: none;
}

.redes-sociais {
  text-align: center;
}

.redes-sociais a {
  color: white;
  text-decoration: none;
}


span {
  font-family: Arial, serif;
  font-weight: bold;
  font-style: oblique;
}
