body {
  background-color: #282A36;
  color: white;
  line-height: 1em ;
  }

h1 { 
  background-color: #343746;
  color: #8AE234;
  text-align: center;
;
}

h2 {
  background-color: #343746;
  color: #8AE234;
}

p {
  text-align: justify;
}

.links {
  color: white;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
}

