body {
  /* imagem adquirida no site unsplash.com */
  background-image: url("code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

#container {
  border: 2px solid green;
  height: 950px;
  width: 550px;
  background-color: #343746;
  padding: 3em;
  margin: auto;
  border-radius: 5%;
}

img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #8ae234;
  text-align: center;
}

h2 {
  color: #8ae234;
}

p {
  text-align: justify;
}

span {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: oblique;
}

#trybe {
  color: #006B53;
  font-weight: bold;
  text-decoration: none;
}

#container-habilidades {
  border: 2px solid red;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#box-principais-habilidades {
  border: 2px solid white;
  height: 100%;
  width: 50%;
}

#box-outras-habilidades {
  border: 2px solid plum;
  width: 50%;
  height: 100%; 
}

ul li {
  text-align: justify;
}
.redes-sociais {
  border: 2px solid red;
  text-align: center;
  margin: 25px;
}

.redes-sociais a {
  color: white;
  text-decoration: none;
}